/source/sfincs/x64/Release/sfincs.obj
/source/.vs
/source/sfincs/*.u2d
/source/sfincs/x64/Release/BuildLog.htm
/source/sfincs/x64/Release/sfincs.exe
/source/sfincs/x64/Release/sfincs.exe.intermediate.manifest
/source/sfincs_dll/*.u2d
/source/sfincs_dll/x64
/source/sfincs_lib/*.u2d
/source/sfincs_lib/x64
/source/third_party_open/netcdf/*.u2d
/source/third_party_open/netcdf/x64
/source/sfincs/x64/Debug/*.pdb
/source/sfincs/x64/Debug/sfincs.exe
/source/sfincs/x64/Debug/*.obj
/source/sfincs/x64/Debug/*.optrpt
/source/sfincs/x64/Debug/sfincs.exe.intermediate.manifest
/source/sfincs/x64/Debug/vc170.pdb
/source/sfincs/x64/Debug/BuildLog.htm
/source/autom4te.cache
/source/sfincs.db3
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/autom4te.cache
/source/AUTHORS
/source/config.sub
/source/config.h.in
/source/config.guess
/source/compile
/source/aclocal.m4
/source/README
/source/NEWS
/source/Makefile.in
/source/ChangeLog
/source/m4/lt~obsolete.m4
/source/m4/ltversion.m4
/source/m4/ltsugar.m4
/source/m4/ltoptions.m4
/source/m4/libtool.m4
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/m4/lt~obsolete.m4
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/m4/ltversion.m4
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/m4/ltsugar.m4
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/m4/ltoptions.m4
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/m4/libtool.m4
Makefile.in
source/third_party_open/netcdf/netcdf-fortran-4.4.4/CMakeExtras/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/docs/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/examples/F77/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/examples/F90/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/examples/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/nf03_test/.deps/f03lib.Po
source/third_party_open/netcdf/netcdf-fortran-4.4.4/nf03_test/Makefile
source/third_party_open/netcdf/netcdf-fortran-4.4.4/nf_test/.deps/f03lib.Po
source/third_party_open/netcdf/netcdf-fortran-4.4.4/nf_test/.deps/fortlib.Po
source/third_party_open/netcdf/netcdf-fortran-4.4.4/nf_test/Makefile
*.Plo
*.o
*.lo
*.la
*.lai
*.a
source/third_party_open/netcdf/netcdf-fortran-4.4.4/fortran/Makefile
