/source/sfincs/x64/Release/sfincs.obj
/source/.vs
/source/sfincs/*.u2d
/source/sfincs/x64/Release/BuildLog.htm
/source/sfincs/x64/Release/sfincs.exe
/source/sfincs/x64/Release/sfincs.exe.intermediate.manifest
/source/sfincs_dll/*.u2d
/source/sfincs_dll/x64
/source/sfincs_lib/*.u2d
/source/sfincs_lib/x64
/source/third_party_open/netcdf/*.u2d
/source/third_party_open/netcdf/x64
/source/sfincs/x64/Debug/*.pdb
/source/sfincs/x64/Debug/sfincs.exe
/source/sfincs/x64/Debug/*.obj
/source/sfincs/x64/Debug/*.optrpt
/source/sfincs/x64/Debug/sfincs.exe.intermediate.manifest
/source/sfincs/x64/Debug/vc170.pdb
/source/sfincs/x64/Debug/BuildLog.htm
/source/autom4te.cache
/source/sfincs.db3
/source/third_party_open/netcdf/netcdf-fortran-4.4.4/autom4te.cache
/source/AUTHORS
/source/config.sub
/source/config.h.in
/source/config.guess
/source/compile
/source/aclocal.m4
/source/README
/source/NEWS
/source/Makefile.in
/source/ChangeLog
/source/m4/lt~obsolete.m4
/source/m4/ltversion.m4
/source/m4/ltsugar.m4
/source/m4/ltoptions.m4
/source/m4/libtool.m4
/source/third_party_open/*
Makefile.in

*.mod
*.o
*.lo
