/source/sfincs/x64/Release/sfincs.obj
/source/.vs
/source/sfincs/*.u2d
/source/sfincs/x64/Release/BuildLog.htm
/source/sfincs/x64/Release/sfincs.exe
/source/sfincs/x64/Release/sfincs.exe.intermediate.manifest
/source/sfincs_dll/*.u2d
/source/sfincs_dll/x64
/source/sfincs_lib/*.u2d
/source/sfincs_lib/x64
/source/third_party_open/netcdf/*.u2d
/source/third_party_open/netcdf/x64
